<h1>List <%= list.name %></h1>

<ul>
  <% @movies do |list| %>
    <li>
      <%= movie.title %>
      <%= link_to "Delete",
            bookmark_path(@bookmark),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
